@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background: white;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
